# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.sqlite3

# VS Code config
.vscode/

# Environment variables
.env

# Python virtual environments
env/
venv/

# Django migrations (optional: keep __init__.py if needed)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Pytest / Coverage / Logs
htmlcov/
.coverage
*.log

# OS files
.DS_Store
Thumbs.db
