<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5cb681fbc0fc829783ddd6ce172e9baa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_5cb681fbc0fc829783ddd6ce172e9baa" ></div>
        
</body>
<script>
    
    
            var map_5cb681fbc0fc829783ddd6ce172e9baa = L.map(
                "map_5cb681fbc0fc829783ddd6ce172e9baa",
                {
                    center: [17.4703083, 78.4199115],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 14,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_23da6971a25c1d5cd73b839df7845bc3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_23da6971a25c1d5cd73b839df7845bc3.addTo(map_5cb681fbc0fc829783ddd6ce172e9baa);
        
    
            var poly_line_6d6f900767819aa49615cb7f0d52fe22 = L.polyline(
                [[17.47017, 78.42002], [17.4694, 78.4207], [17.46893, 78.4174], [17.47004, 78.40655], [17.46798, 78.39862], [17.46381, 78.3988], [17.45956, 78.3963], [17.45437, 78.39771], [17.4433, 78.39364], [17.44179, 78.39702], [17.43878, 78.39939], [17.4393, 78.39621], [17.43563, 78.39454], [17.43645, 78.39274], [17.43837, 78.3936], [17.43867, 78.39275]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5cb681fbc0fc829783ddd6ce172e9baa);
        
    
            var marker_a6b6c27c969aa39f61e8d7e553da7b51 = L.marker(
                [17.4703083, 78.4199115],
                {
}
            ).addTo(map_5cb681fbc0fc829783ddd6ce172e9baa);
        
    
            marker_a6b6c27c969aa39f61e8d7e553da7b51.bindTooltip(
                `<div>
                     Start
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_445fa9ecb29b9930fff58758321fbe5a = L.marker(
                [17.438719, 78.3927568],
                {
}
            ).addTo(map_5cb681fbc0fc829783ddd6ce172e9baa);
        
    
            marker_445fa9ecb29b9930fff58758321fbe5a.bindTooltip(
                `<div>
                     End
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>